table {
   width:70%;
   position: relative;
   top:50px;
   left:150px
  }
th{
    border:1px solid black;
    
}
td{
    border:1px solid black;
  }
.TP{
    position: relative;
    border-style: dashed;
    width:5cm;
    left:25cm;
    top:2cm
}
.addbtn{
    position: relative;
    left:10cm;
    top:2rem;
}