table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .TP {
    position: relative;
    border-style: dashed;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .addbtn {
    display: block;
    margin: 2rem auto;
  }
  
  @media (min-width: 768px) {
    table {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .addbtn {
      position: absolute;
      left: 10px;
      top: 2rem;
      margin: 0;
    }
  }