table {
    margin-top: 50px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .TP {
    position: relative;
    border-style: solid;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .addbtn {
    display: block;
    margin: 2rem auto;
  }
  
  @media (max-width: 200px) {
    table {
        position: absolute;
      left: 10px;
      top: 2rem;
      margin: 0;
    }
  
    .addbtn {
      position: absolute;
      left: 10px;
      top: 2rem;
      margin: 0;
    }
  }